absl-py==1.3.0
adam==0.0.0.dev0
aiohttp==3.8.3
aiosignal==1.2.0
APScheduler==3.9.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Automat==20.2.0
bidict==0.22.0
cachetools==5.2.0
charset-normalizer==2.1.1
cinit==0.1.0
colorama==0.4.5
constantly==15.1.0
construct==2.10.68
contourpy==1.0.5
cycler==0.11.0
dnspython==2.2.1
et-xmlfile==1.1.0
eventlet==0.33.1
fer==22.4.0
flatbuffers==22.9.24
flow==0.0.1
fonttools==4.37.4
frozenlist==1.3.1
gast==0.4.0
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.3.post0
grpcio==1.49.1
h5py==3.7.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
kwargs==1.0.1
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.1
mtcnn==0.1.1
multidict==6.0.2
numpy==1.23.4
oauthlib==3.2.1
openai==0.23.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.0
pandas-stubs==1.5.0.221012
Pillow==9.2.0
ply==3.11
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.15.0
pyparsing==3.0.9
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.2
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
tensor==0.3.6
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
tqdm==4.64.1
Twisted==22.8.0
twisted-iocpsupport==1.0.2
types-pytz==2022.5.0.0
typing_extensions==4.4.0
tzdata==2022.5
tzlocal==4.2
urllib3==1.26.12
Werkzeug==2.2.2
wincertstore==0.2
wrapt==1.14.1
yarl==1.8.1
zope.interface==5.5.0
